body{
	background: rgba(0,0,0,0.1) url("https://www.google.com.pk/images/branding/googlelogo/1x/googlelogo_color_272x92dp.png") no-repeat 100px 100px / 700px 700px; 

}


h1{
	
	font-family: calibri, Arial;
	font-weight: 900;
	font-style: oblique;
	text-decoration: italic;
	color:green;
	text-align: center;	
}


p{
	text-align: justify;


}

p:first-letter{
	font-size: 50px;
}


p:first-line{
	font-size: 50px;
}

span{
}
img{
	vertical-align: super;
}
	
#indent{
	color:red;

}
.indent{
	font-size: 35px;
	text-shadow: 20px 10px 10px magenta;
	text-indent: 20px;
	/*text-transform: uppercase;*/
}


.spacing{

	letter-spacing: 5px;
	word-spacing: 20px;
	line-height: 50.20px;
}


.green{
	color:green;
}

.pre{

	white-space: pre;

}


.link:active{
	
	color:green;
}

.link:hover{
	font-size:40px;
	background-color: #ddd;
}

.link:visited{

}


.olist{
	
	list-style-type: disc;

}

li{
	marker-offset: 3em ;
}





table, tr, td{
	caption-side: top;
	border-color: red
	border-size:2px;
	border-style-left:dotted;
	border-style-top:solid;
	border-spacing: 10px;
	empty-cells: hide;
	table-layout: fixed;

}